.Post {
  background-color: #fbf2eb;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #67a359;
}

.HeartOutline:hover {
  color: #67a359;
}

.Subheading {
  font-style: italic;
}

.Row {
  justify-content: space-evenly;
}

.Icon > i {
  color:#67a359;
  cursor: default;
  
}