.App {
  font-family: "Raleway", sans-serif;
  background-color: white;
  min-height: 100vh;
}

.Main {
    padding-top: 135px;
}

* {
  box-sizing: border-box;
}

a {
  color: #8b6947;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #67a359;
  transition: color ease-in-out 0.3s;
}

i {
  color: #8b6947;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #67a359;
}
